.widget-catalog {
  &__header {
    @media (max-width: 768px) {
      padding: 0 16px;
    }
  }

  &__content {
    padding: 0 50px;
    margin-top: 64px;

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }

  &__inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }

  &__product-card {
    margin: 5px 5px 20px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ant-card-cover {
      padding: 20px;
    }

    &-image {
      height: 200px;
      object-fit: contain;
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    &-actions {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
